@charset "UTF-8";

 
.iconapi-admin-plus:before { content: '󯿲'; } /* '\efff2' */
.iconapi-admin-minus:before { content: '󯿳'; } /* '\efff3' */
.iconapi-admin-cog:before { content: '󯿶'; } /* '\efff6' */
.iconapi-admin-pencil:before { content: '󯿵'; } /* '\efff5' */
.iconapi-admin-check:before { content: '󯿰'; } /* '\efff0' */
.iconapi-admin-cancel:before { content: '󯿱'; } /* '\efff1' */
.iconapi-admin-select:before { content: '󯿷'; } /* '\efff7' */
.iconapi-admin-right-open:before { content: '󯿸'; } /* '\efff8' */
.iconapi-admin-upload:before { content: '󯿴'; } /* '\efff4' */
.iconapi-admin-throbber:before { content: '󯿹'; } /* '\efff9' */